<div class="push"></div>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
M.AutoInit();
</script>
<script>
const defaultContent = `<li><a href="/">Home</a></li>
                <li><a href="/report">Report a missing case</a></li>
                <li><a href="/find">Find a child</a></li>
                <li><a href="/signin">Sign in</a></li>
                <li><a href="/signup">Sign up</a></li>`
const loggedInContent = `<li><a href="/">Home</a></li>
                <li><a href="/report">Report a missing case</a></li>
                <li><a href="/find">Find a child</a></li>
                <li><a href="/signout">Sign out</a></li>`

function showPosition(position) {
    alert('hey')
    lat.value = position.coords.latitude;
    long.value = position.coords.longitude;
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}


window.onload = () => {
    const navBarUl = document.getElementById('nav-ul');
    const sideNavUl = document.getElementById('mobile-demo');
    const lat = document.getElementById('lat');
    const long = document.getElementById('long');
    if (lat && long) {
        getLocation();
    }
    try {
        if (sideNavUl && navBarUl) {
            if (document.cookie) {
                const userID = decodeURIComponent(document.cookie.split('=')[1]).split(':')[1];
                if (userID) {
                    navBarUl.innerHTML = loggedInContent;
                    sideNavUl.innerHTML = loggedInContent;
                } else throw "UserID is not set"
            } else throw "Cookies not set"
        } else throw "Nav items were not found"
    } catch (err) {
        console.log(err);
        navBarUl.innerHTML = defaultContent;
        sideNavUl.innerHTML = defaultContent;
    }
}
</script>

</html>