<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Kaushan+Script|Zhi+Mang+Xing&display=swap"
        rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/styles.css">
    <title>Child Missing Case Reporter</title>
</head>

<body>
    <div class="wrapper">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Bambino</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/report">Report a missing case</a></li>
                    <li><a href="/find">Find a child</a></li>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="/signup">Sign up</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/report">Report a missing case</a></li>
            <li><a href="/find">Find a child</a></li>
            <li><a href="/signin">Sign in</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>