<%- include('partials/header') -%>
<div>
        <img class="front-image" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/user_edit.png" width="200" height="200">
    </div>
 <table style="width:100%">
  <tr>
    <th>DETAILS</th> 
  </tr>
  <tr>
    <td>Name :</td>
  </tr>
  <tr>
    <td>Age :</td>
  </tr>
  <tr>
    <td>Gende :</td>
  </tr>
  <tr>
    <td>Complexion :</td>
  </tr>
  <tr>
    <td>Height :</td>
  </tr>
  <tr>
    <td>Spot of missing :</td>
  </tr>
  <tr>
    <td>Guardian's Name :</td>
  </tr>
  <tr>
    <td>Telephone :</td>
  </tr>
  <tr>
    <td>Email :</td>
  </tr>
  <tr>
    <td>Address :</td>
  </tr>
 
</table> 

<%- include('partials/footer') -%>
