<%- include('partials/header') -%>
    <!-- <h1>HEllo</h1> -->
    <div>
        <img class="front-image" src="https://www.safewise.com/app/uploads/Missing-Child.jpg">
    </div>
    <div class="app-description-content">
        <img class= "app-description-content-img" src="https://image.flaticon.com/icons/svg/1530/1530840.svg" alt="family.png">
        <p class="app-description-content-text">The app works on two phases. Report a missing case as well as find a missing case</p>
    </div>
  
<%- include('partials/footer') -%>



