<%- include('partials/header') -%>
<form class = "find-and-report-form" action="/report" method="POST" enctype="multipart/form-data">
    <!-- <div class="row"> -->
    <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="childName">
        <label class="active" for="first_name2">Name</label>
    </div>

     <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="age">
        <label class="active" for="first_name2">Age</label>
    </div>

    <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="gender">
        <label class="active" for="first_name2">Gender</label>
    </div>

    <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="complexion">
        <label class="active" for="first_name2">Complexion</label>
    </div>

     <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="height">
        <label class="active" for="first_name2">Height</label>
    </div>

     <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="spot">
        <label class="active" for="first_name2">Spot of missing</label>
    </div>

    
     <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="guardiansname">
        <label class="active" for="first_name2">Guardian's Name</label>
    </div>


     <div class="input-field">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
    </div>

    <div class="input-field">
                <input name="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
    </div>

      <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="address">
        <label class="active" for="first_name2">Address</label>
    </div>


     <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="childName">
        <label class="active" for="first_name2">Name</label>
    </div>
    <!-- </div> -->
    <div class="file-field input-field">
        <div class="input-container">
            <div class="btn">
                <span>File</span>
                <input type="file" name="upfile" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>
<%- include('partials/footer') -%>