<%- include('partials/header') -%>
<form class = "find-and-report-form" action="/report" method="POST" enctype="multipart/form-data">
    <!-- <div class="row"> -->
    <div class="input-field">
        <input id="first_name2" type="text" class="validate" name="childName">
        <label class="active" for="first_name2">Name</label>
    </div>
    <!-- </div> -->
    <div class="file-field input-field">
        <div class="input-container">
            <div class="btn">
                <span>File</span>
                <input type="file" name="upfile" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>
<%- include('partials/footer') -%>