<%- include('partials/header') -%>
    <form class="col s12 find-and-report-form" method="POST" action='/signup'>
        <div class="row">
            <div class="input-field col s6">
                <input name="first_name" placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input name="last_name" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="phone" id="phone" type="text" class="validate">
                <label for="phone">Phone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="confirmPassword" id="password" type="password" class="validate">
                <label for="password">Confirm Password</label>
            </div>
        </div>
        <button class="btn" type="submit">Sign Up</button>
    </form>
<%- include('partials/footer') -%>